.form-control{

  border-radius: 3px;

  width: 250px;

  height: 24px;

  margin-right: 8px;

  color:#ececec;

  // border:2px;

  border-color:#e2e2e2;

  margin-bottom: 16px;



}
.transfer-form-label{
  color: black;
  font-weight: 500;
}
.transfer-item{
  flex:0 1 20%;
  //border:2px solid white;
  margin: 10px;
  // background-color: #CCD1D1;
  // border-radius: 3%;
  border: 5px solid transparent;
  position:relative;
}
.transfer-image-unselected-block
{
    width:59px;
    height:59px;
    border-radius: 50px;
    float:left;
    position: absolute;
    top:-3px;
    left:-10px;
    z-index:10;
    border: 2px solid white;
    box-shadow: -1px 0px 4px 1px #d2d2d2
}
.transfer-info{
  display:flex;
  flex-direction: column;
  margin-left:39px;
  background-color: white;
  border-radius: 3%;
  padding: 7px 13px 7px 25px;
  position:relative;
  font-size: 12px;
  left:-6px;
  box-shadow: -1px 1px 4px 1px #d2d2d2
}
.transfer-name{
  font-size:18px;
  color:black
}
.transfer-address{
  font-size: 14px
}