<!-- <p>transfer-volunteer works!</p> -->



<!-- <div [formGroup]="transferVolunteerForm">

    <div class="loading-spinner" *ngIf="loadingSpinner">

        <mat-spinner [diameter]=50></mat-spinner>

    </div>

    <mat-dialog-actions align="center" class="assign-actions">

        <button mat-flat-button mat-dialog-close class="medium-size-text">Cancel</button>

        <button mat-flat-button color="primary" class="medium-size-text" [disabled]="enable_assign_button" (click)="transferVolunteer()">Transfer</button>

    </mat-dialog-actions>

    </div> -->

   



    <mat-grid-list cols="2" rowHeight="1:1">

      <mat-grid-tile>



          <div class="assign-item">

              <label> 

                  <img [src]="base_url+'assets/user.jpg'" class="assign-image-unselected-block" />

                  <div class="assign-info" >

                      <div>{{firstName}}</div>

                      <div><span class="gray-text">{{currentState}},{{currentDistrict}},{{currentBlock}}</span></div>

                      

                  </div>

                  

              </label>

      </div>

        

        

        

        <!-- {{pic}}

          <img src="../../../assets/userVolunteer.png" width="25px" height="25px">

          {{firstName}}<br>

          {{currentState}},{{currentDistrict}},{{currentBlock}} -->

      </mat-grid-tile>

      <mat-grid-tile>

          <form name="transferVolunteerForm">



              <div class="form-group" >

                <div style="font-weight:900px;">

                  <label><b>Select State</b></label><br>

                </div>

                  <select class="form-control"  name="state"  [(ngModel)]="selectedState" (change)="onChangeState($event.target.value)" (click)="transferVolunteerDetails=true">

                    <option value="State"   selected="selected">State</option>

                    <option *ngFor="let state of statesList" value="{{state}}">{{state}}</option>

                  </select>

                </div>

              <div class="form-group">

                  <label><b>Select District</b></label><br>

                  <select class="form-control" name="district"  [(ngModel)]="selectedDistrict" (change)="onChangeDistrict($event.target.value)">

                    <option value="District">District</option>

                    <option *ngFor="let district of districtsList" value="{{district}}">{{district}}</option>

                  </select>

              </div>

              <div class="form-group">

                  <label><b>Select Block</b></label><br>

                  <select class="form-control" name="block"  [(ngModel)]="selectedBlock" (change)="onChangeBlock($event.target.value)">

                    <option value="Block" >Block</option>

                    <option *ngFor="let block of blocksList" value="{{block}}">{{block}}</option>

                  </select>

              </div>

          

              </form>

      </mat-grid-tile>

       </mat-grid-list>

  

      

        <mat-dialog-actions align="center" class="assign-actions">

          <button mat-flat-button mat-dialog-close class="medium-size-text">Cancel</button>

          <button mat-flat-button color="primary"  class="upload-btn medium-size-text" [disabled]="transferVolunteerDetails==false" (click)="volunteerTransferred()">Transfer</button>

      </mat-dialog-actions> 

      

