.search-query {
    padding: 0 34px 0 10px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    width: 300px;
    height: 30px;
    background-color: rgb(244, 244, 244);
}
.form-search {
    position:relative;
    margin-top: 7px;
}
.search-icon {
    position:absolute;
	margin-left: -27px;
	margin-top: 8px;
}
.top-header {
    margin: 0;
    padding: 15px 30px;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
}
.logo img {
    width: 125px;
}
.header-items{
    margin-right: 200px;
}
.user-login{
    padding-left: 365px
}