table {
    width: 100%;
}
th.mat-sort-header-sorted {
    color: black;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
td, th {
    width: 25%;
}
.assignedList-topSection, .unassignedList-topSection, .deboardedList-topSection {
    display: flex;
    margin: 15px 25px;
}
.add-button, .assignVolunteer-button {
    background-color: orangered;
    color: white;
    height: 24px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    min-width: 0;
}
.add-button-section, .assignVolunteer-button-section {
    font-weight: 500;
    display: flex;
    align-items: center;
}
.assignedList-span {
    display: flex;
    align-items: center;
    font-size: 16px;
    white-space: nowrap;
    margin-right: 5px;
}
.unassignedList-title {
    display: flex;
}
.unassignedList-span {
    //display: flex;
    //align-items: center;
    font-weight: 500;
    margin: 15px 0 0 25px;
    font-size: 16px;
}
.unassignedList-totalCount {
    margin: 15px 0 0 5px;
    font-size: 15px;
    color: gray;
    font-weight: 500;
}
.deboardedList-span {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
}
.deboardedList-topSection .state-form {
    margin-left: 48%;
}
.unassignedList-topSection .state-form {
    margin-left: 48%;
}
.options {
    border-radius: 3px;
    width: 125px;
    height: 24px;
    margin-right: 8px;
    color: gray;
    border-color: #d3d3d3;
}
.person-image {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}
.seniorCitizen-checkbox {
    margin-right: 12px;
}
.state-form {
    display: flex;
    align-items: center;
    margin-left: 42%;
}
.img-icon {
    margin-right: 8px;
    display: flex;
}
.img-icon img {
    width: 24px;
}
::ng-deep.mat-tab-label.mat-tab-label-active {
    font-weight: 700;
    color: #FF3D00;
    padding:0px !important;
}
.form-control{
    border-radius: 3px;
    width: 125px;
    height: 24px;
    margin-right: 8px;
    color:grey;
    // border:2px;
    border-color:#d3d3d3;
    //margin-bottom: 16px;
  }
  .selected {
    border-left: 3px solid red;
   }
   .mat-row, .mat-footer-row{
    margin: 10px;
    border-radius: 1px;
    box-shadow: 1px 1px 2px 1px #80808026;
  }
  .mat-header-cell{
    white-space: nowrap;
  }
  .mat-row:hover,.row-active{
    border-left: 3px solid red;
    box-shadow: 5px 1px 5px 5px #8080804f;
  }
  
  mat-table {
    box-shadow: none;
  }
  mat-header-row {
    border-bottom-width: 0;
  }
  
//   .material-icons{
//     margin-bottom: 10px;
//   }

  .resetFilter{
    margin-top:40px;
    // margin-bottom:-15px;
  }
  .material-icons{
    margin-bottom: 10px;
  }
  .selected-citizens-count{
    color: #FF3D00;
    margin-left: 18px;
    padding: 0px;
  }