<!-- <p>senior-citizens-list works!</p> -->

<mat-tab-group mat-align-tabs="Assigned Sr. Citizen" (selectedTabChange)="onTabChanged($event)">
  <mat-tab label="Assigned Sr. Citizen">

<div class="assignedList-topSection">
  <div class="add-button-section">
    <span class="assignedList-span">Senior Citizen List</span>&nbsp;
    <button mat-button class="add-button">+ Add</button>
  </div>
      <div class="state-form" >
        <div class="img-icon">
          <img [src]="base_url+'assets/Group 1184.png'">
        </div>
        <div class="form-group" >
          <!-- <label>State</label> -->
           
          <select class="form-control"  name="state"  [(ngModel)]="selectedState" (change)="onChangeState($event.target.value, 'Assigned')">
            <option value=""   selected="selected">State</option>
            <option *ngFor="let state of statesList" value="{{state}}">{{state}}</option>
          </select>
        </div> 
        <div class="form-group">
        <select class="form-control" name="district"  [(ngModel)]="selectedDistrict" (change)="onChangeDistrict($event.target.value, 'Assigned')">
          <option value="">District</option>
          <option *ngFor="let district of districtsList" value="{{district}}">{{district}}</option>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" name="block"  [(ngModel)]="selectedBlock" (change)="onChangeBlock($event.target.value, 'Assigned')">
          <option value="" >Block</option>
          <option *ngFor="let block of blocksList" value="{{block}}">{{block}}</option>
        </select>
      </div>
      </div>
</div>

  <!-- Assigned Sr. Citizen's list  -->
  
  <mat-table [dataSource]="AssignedDataSource| paginate:{ itemsPerPage: itemsPerPage, currentPage: p1, id: 'assignedCitizens', totalItems: assigned_total }" class="mat-elevation-z8">

    <!-- Name column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img class="person-image" [src]="base_url+'assets/senior-citizen.png'" alt='Person'> {{element.firstName}} </mat-cell>
    </ng-container>
  
    <!-- ContactNumber Column -->
    <ng-container matColumnDef="phoneNo">
      <mat-header-cell *matHeaderCellDef>Contact number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phoneNo}} </mat-cell>
    </ng-container>
  
    <!-- State Column -->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
    </ng-container>

     <!-- District Column -->
     <ng-container matColumnDef="district">
      <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.district}} </mat-cell>
    </ng-container>

     <!-- Block Column -->
     <ng-container matColumnDef="blockName">
      <mat-header-cell *matHeaderCellDef> Block </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.blockName}} </mat-cell>
    </ng-container>

     <!-- Assigned Volunteer Column -->
     <ng-container matColumnDef="volunteerId">
      <mat-header-cell *matHeaderCellDef> Assigned Volunteer </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.volunteerId}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="AssignedSeniorCitizensColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: AssignedSeniorCitizensColumns;" class="mouseover-pointer" (mouseover)="selectedId=''" [ngClass]="{'row-active': selectedId == row.srCitizenId}"></mat-row>
  
  </mat-table>
  <div class="pagination-container"  *ngIf="noData.message=='' && AssignedDataSource?.length > 0">
    <div class="show-count">
      <span class="gray-text">Showing </span>{{((p1-1) * itemsPerPage)+1}} - {{((p1-1) * itemsPerPage) + AssignedDataSource?.length}}<span class="gray-text"> out of </span>{{assigned_total}}
    </div>
    <div>
      <pagination-controls previousLabel="" nextLabel="" (pageChange)="p1 = $event;getPaginationData($event)" id="assignedCitizens" class="my-pagination"></pagination-controls>
    </div>
  </div>

</mat-tab>

<mat-tab label="Unassigned Sr. Citizen">
  <span class="unassignedList-span">Senior Citizen List</span>
  <div class="unassignedList-topSection">
    <div class="assignVolunteer-button-section">
      <button mat-button class="assignVolunteer-button">Assign Volunteer</button>
    </div>
        <div class="state-form" >
          <div class="img-icon">
            <img [src]="base_url+'assets/Group 1184.png'">
          </div>
            <div class="form-group" >
              <select class="form-control"  name="state"  [(ngModel)]="selectedState" (change)="onChangeState($event.target.value, 'Unassigned')">
                <option value=""   selected="selected">State</option>
                <option *ngFor="let state of statesList" value="{{state}}">{{state}}</option>
              </select>
            </div> 
            <div class="form-group">
            <select class="form-control" name="district"  [(ngModel)]="selectedDistrict" (change)="onChangeDistrict($event.target.value, 'Unassigned')">
              <option value="">District</option>
              <option *ngFor="let district of districtsList" value="{{district}}">{{district}}</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" name="block"  [(ngModel)]="selectedBlock" (change)="onChangeBlock($event.target.value, 'Unassigned')">
              <option value="" >Block</option>
              <option *ngFor="let block of blocksList" value="{{block}}">{{block}}</option>
            </select>
          </div>
          </div>
  </div>

  <!-- Unassigned Sr. Citizen's list  -->
  
  <mat-table [dataSource]="UnassignedDataSource| paginate:{ itemsPerPage: itemsPerPage, currentPage: p1, id: 'unassignedCitizens', totalItems: unassigned_total }" class="mat-elevation-z8">

    <!-- Name column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <input class="seniorCitizen-checkbox" type="checkbox" name="seniorCitizen" value="seniorCitizen">
        <img class="person-image" [src]="base_url+'assets/senior-citizen.png'" alt='Person'> {{element.firstName}} </mat-cell>
    </ng-container>
  
    <!-- ContactNumber Column -->
    <ng-container matColumnDef="phoneNo">
      <mat-header-cell *matHeaderCellDef>Contact number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phoneNo}} </mat-cell>
    </ng-container>
  
    <!-- State Column -->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
    </ng-container>

     <!-- District Column -->
     <ng-container matColumnDef="district">
      <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.district}} </mat-cell>
    </ng-container>

     <!-- Block Column -->
     <ng-container matColumnDef="blockName">
      <mat-header-cell *matHeaderCellDef> Block </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.blockName}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="UnassignedSeniorCitizensColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: UnassignedSeniorCitizensColumns;" class="mouseover-pointer" (mouseover)="selectedId=''" [ngClass]="{'row-active': selectedId == row.srCitizenId}" ></mat-row>
  
  </mat-table>
  <div class="pagination-container"  *ngIf="noData.message=='' && UnassignedDataSource?.length > 0">
    <div class="show-count">
      <span class="gray-text">Showing </span>{{((p1-1) * itemsPerPage)+1}} - {{((p1-1) * itemsPerPage) + UnassignedDataSource?.length}}<span class="gray-text"> out of </span>{{unassigned_total}}
    </div>
    <div>
      <pagination-controls previousLabel="" nextLabel="" (pageChange)="p1 = $event;getUnassignedPaginationData($event)" id="unassignedCitizens" class="my-pagination"></pagination-controls>
    </div>
  </div>
</mat-tab>

<mat-tab label="Deboarded Sr. Citizen">
  
  <div class="deboardedList-topSection">
    <span class="deboardedList-span">Senior Citizen List</span>
        <div class="state-form" >
          <div class="img-icon">
            <img [src]="base_url+'assets/Group 1184.png'">
          </div>
            <div class="form-group" >
              <select class="form-control"  name="state"  [(ngModel)]="selectedState" (change)="onChangeState($event.target.value, 'Deboarded')">
                <option value=""   selected="selected">State</option>
                <option *ngFor="let state of statesList" value="{{state}}">{{state}}</option>
              </select>
            </div> 
            <div class="form-group">
            <select class="form-control" name="district"  [(ngModel)]="selectedDistrict" (change)="onChangeDistrict($event.target.value, 'Deboarded')">
              <option value="">District</option>
              <option *ngFor="let district of districtsList" value="{{district}}">{{district}}</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" name="block"  [(ngModel)]="selectedBlock" (change)="onChangeBlock($event.target.value, 'Deboarded')">
              <option value="" >Block</option>
              <option *ngFor="let block of blocksList" value="{{block}}">{{block}}</option>
            </select>
          </div>
        </div>
  </div>

  <!-- Deboarded Sr. Citizen's list  -->
  
  <mat-table [dataSource]="DeboardedDataSource" [dataSource]="DeboardedDataSource| paginate:{ itemsPerPage: itemsPerPage, currentPage: p1, id: 'deboardedCitizens', totalItems: deboarded_total }" class="mat-elevation-z8">

    <!-- Name column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img class="person-image" [src]="base_url+'assets/senior-citizen.png'" alt='Person'> {{element.firstName}} </mat-cell>
    </ng-container>
  
    <!-- ContactNumber Column -->
    <ng-container matColumnDef="phoneNo">
      <mat-header-cell *matHeaderCellDef>Contact number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phoneNo}} </mat-cell>
    </ng-container>
  
    <!-- State Column -->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
    </ng-container>

     <!-- District Column -->
     <ng-container matColumnDef="district">
      <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.district}} </mat-cell>
    </ng-container>

     <!-- Block Column -->
     <ng-container matColumnDef="blockName">
      <mat-header-cell *matHeaderCellDef> Block </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.blockName}} </mat-cell>
    </ng-container>

    <!-- Assigned Volunteer Column -->
    <ng-container matColumnDef="volunteerId">
      <mat-header-cell *matHeaderCellDef> Assigned Volunteer </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.volunteerId}} </mat-cell>
    </ng-container>

    <!-- Deboarded On Column -->
    <ng-container matColumnDef="deboardedOn">
      <mat-header-cell *matHeaderCellDef> Deboarded On </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.deboardedOn | date:'MMM dd, yyyy'}} </mat-cell>
    </ng-container>

    <!-- Reasons Column -->
    <ng-container matColumnDef="reasons">
      <mat-header-cell *matHeaderCellDef> Reasons </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.reasons}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="DeboardedSeniorCitizensColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: DeboardedSeniorCitizensColumns;" class="mouseover-pointer" (mouseover)="selectedId=''" [ngClass]="{'row-active': selectedId == row.srCitizenId}"></mat-row>
  
  </mat-table>
  <div class="pagination-container"  *ngIf="noData.message=='' && DeboardedDataSource?.length > 0">
    <div class="show-count">
      <span class="gray-text">Showing </span>{{((p1-1) * itemsPerPage)+1}} - {{((p1-1) * itemsPerPage) + DeboardedDataSource?.length}}<span class="gray-text"> out of </span>{{deboarded_total}}
    </div>
    <div>
      <pagination-controls previousLabel="" nextLabel="" (pageChange)="p1 = $event;getDeboardedPaginationData($event)" id="deboardedCitizens" class="my-pagination"></pagination-controls>
    </div>
  </div>
</mat-tab>

</mat-tab-group>