.menu-items-block{
    display:flex;
    flex-direction: column;
    padding-top: 12px;
}
.menu-items{
    border: none;
    background: none;
    font-size: 15px;
    padding-bottom: 12px;
}
.dropdown-link, .menu-button-link{
    text-decoration: none;
    color: rgba(0,0,0,.87);
}
.mat-expansion-panel-header img {
    width: 17px;
    height: 15px;
    margin: 2px 15px 0 -1px;
}
.dropdown-btn{
    width: 17px;
    height: 15px;
    margin-right: 20px;
    margin-top: 2px;
}
.mat-expansion-panel{
    border-radius: 0;
    box-shadow: none;
}
.mat-accordion>.mat-expansion-panel-spacing:last-child{
    margin-top: 0;
}
.mat-expansion-panel-header{
    font-size: 18px;
    height: 50px;
}
::ng-deep .mat-expansion-panel-header.mat-expanded .dropdown-link{
    color: #FF3D00 !important;
}
::ng-deep .mat-expansion-panel-header.mat-expanded, ::ng-deep .mat-expansion-panel-header.mat-expanded:hover {
    background-color: rgb(253, 217, 245) !important;
    border-left: 4px solid red;
}
::ng-deep .mat-expansion-panel-body {
    background-color: rgb(254, 235, 249);
    border-left: 4px solid red;
}
.mat-accordion .mat-expansion-panel:last-of-type, .mat-accordion .mat-expansion-panel:first-of-type {
    border-radius: 0 !important;
}
.link-active{
    font-weight: bold;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background-color: white;
}
::ng-deep .mat-expansion-panel-body {
    padding-bottom: 0 !important;
}
.mat-expansion-arrow {
    border-style: solid;
    position: absolute;
    top: 19px;
    right: 25px;
    color: rgba(0,0,0,.54);
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
    vertical-align: middle; 
}
::ng-deep .mat-expansion-panel-header.mat-expanded .mat-expansion-arrow {
    color: red;
    top: 20px;
}
.mat-expansion-panel-header.mat-expanded img.volunteers {
    content: url('http://localhost:4200/assets/businessman-and-strategy.png');
}
.mat-expansion-panel-header.mat-expanded img.citizens {
    content: url('http://localhost:4200/assets/group 3.png');
}
.mat-expansion-panel-header.mat-expanded img.dashboard {
    content: url('http://localhost:4200/assets/bullet-list 2.png');
}
.mat-expansion-panel-header.mat-expanded img.announcements {
    content: url('http://localhost:4200/assets/settings 2.png');
}
.mat-expansion-panel-header.mat-expanded img.dataDownload {
    content: url('http://localhost:4200/assets/inbox 1.png');
}
.mat-expansion-panel-header.mat-expanded img.otherRequests {
    content: url('http://localhost:4200/assets/Group 4975.png');
}
.mat-expansion-panel-header.mat-expanded img.staffList {
    content: url('http://localhost:4200/assets/Group-4.png');
}