<!-- <mat-nav-list>
    <mat-list-item [matMenuTriggerFor]="menu"> 
        <!-- <mat-icon>unfold_more</mat-icon> 
        <a matline>Example</a>
    </mat-list-item>
    <mat-menu #menu="matMenu"> 
        <button mat-menu-item>List 1</button>
        <button mat-menu-item>List 2</button>
    </mat-menu>
    <mat-list-item [matMenuTriggerFor]="menu2"> 
        <!-- <mat-icon>unfold_more</mat-icon> 
        <a matline>Example 2</a>
    </mat-list-item>
    <mat-menu #menu2="matMenu"> 
        <button mat-menu-item>List 3</button>
        <button mat-menu-item>List 4</button>
    </mat-menu>
</mat-nav-list> -->
<div class="menu-block">
    <img src="../assets/bullet-list.png">
    <div class="menu-icons-block">
        <button class="menu-btn" mat-button>Dashboard</button>
    </div>
</div>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <img class="dropdown-btn" src="../assets/businessman-and-strategy (2).png">
            Volunteers
        </mat-expansion-panel-header>
        <mat-panel-description>
            <div class="menu-items-block">
                <button class="menu-items" mat-button>List of volunteers</button>
                <button class="menu-items" mat-button>Volunteer Quires</button>
            </div>
        </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel >
        <mat-expansion-panel-header>
            <img class="dropdown-btn" src="../assets/group (2).png">
            Senior Citizens
        </mat-expansion-panel-header>
        <mat-panel-description>
            <div class="menu-items-block">
                <button class="menu-items" mat-button>List of Sr. Citizen</button>
                <button class="menu-items" mat-button>Sr. Citizen Quires</button>
            </div>
        </mat-panel-description>
    </mat-expansion-panel>
</mat-accordion>
<div class="menu-block">
    <img src="../assets/settings.png">
    <div class="menu-icons-block">
        <button class="menu-btn" mat-button>Announcements</button>
    </div>
</div>
<div class="menu-block">
    <img src="../assets/group.png">
    <div class="menu-icons-block">
        <button class="menu-btn" mat-button>Data Download</button>
    </div>
</div>
<div class="menu-block">
    <img src="../assets/Group 4976.png">
    <div class="menu-icons-block">
        <button class="menu-btn" mat-button>Other Requests</button>
    </div>
</div>
