<div class="menu-block">
    <img [src]="base_url+'assets/bullet-list.png'">
    <div class="menu-icons-block">
        <button class="menu-btn">
            <a class="menu-items-link" routerLink="">Dashboard</a>
        </button>
    </div>
</div>
<mat-accordion>
    <mat-expansion-panel class="abc">
        <mat-expansion-panel-header>
            <img class="dropdown-btn" [src]="base_url+'assets/businessman-and-strategy (2).png'">
            Volunteers
        </mat-expansion-panel-header>
        <mat-panel-description>
            <div class="menu-items-block">
                <button class="menu-items">
                    <a class="menu-items-link" routerLink="/volunteers">List of volunteers</a>
                </button>
                <button class="menu-items">
                    <a class="menu-items-link" routerLink="">Volunteer Quires</a>
                </button>
            </div>
        </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel >
        <mat-expansion-panel-header>
            <img class="dropdown-btn" [src]="base_url+'assets/group (2).png'">
            Senior Citizens
        </mat-expansion-panel-header>
        <mat-panel-description>
            <div class="menu-items-block">
                <button class="menu-items">
                    <a class="menu-items-link" routerLink="/seniorCitizens">List of Sr. Citizen</a>
                </button>
                <button class="menu-items">
                    <a class="menu-items-link" routerLink="">Sr. Citizen Quires</a>
                </button>
            </div>
        </mat-panel-description>
    </mat-expansion-panel>
</mat-accordion>
<div class="menu-block">
    <img [src]="base_url+'assets/settings.png'">
    <div class="menu-icons-block">
        <button class="menu-btn">
            <a class="menu-items-link" routerLink="">Announcements</a>
        </button>
    </div>
</div>
<div class="menu-block">
    <img [src]="base_url+'assets/group.png'">
    <div class="menu-icons-block">
        <button class="menu-btn">
            <a class="menu-items-link" routerLink="">Data Download</a>
        </button>
    </div>
</div>
<div class="menu-block">
    <img [src]="base_url+'assets/Group 4976.png'">
    <div class="menu-icons-block">
        <button class="menu-btn">
            <a class="menu-items-link" routerLink="">Other Requests</a>
        </button>
    </div>
</div>
