<!-- <p>volunteers-list works!</p> -->

<mat-tab-group mat-align-tabs="Active Volunteers">
  <mat-tab label="Active Volunteers">
  
    <mat-toolbar>
      <mat-toolbar-row >
    <div class="onBoardedVolunteerHeader">
      <span>Volunteers List</span>&nbsp;</div>
        <button mat-button class="addButton">+ Add</button>
      
    
      <span class="example-spacer"></span>
      <div class="img-icon">
        <img src="../../../assets/Group 1184.png">
      </div>

      <div class="form-group" >
        <!-- <label>State</label> -->
        <select class="form-control"  name="state"  [(ngModel)]="selectedState" (change)="onChangeState($event.target.value)">
          <option value="State"   selected="selected">State</option>
          <option *ngFor="let state of statesList" value="{{state}}">{{state}}</option>
        </select>
      </div>
      <div class="form-group">
      <select class="form-control" name="district"  [(ngModel)]="selectedDistrict" (change)="onChangeDistrict($event.target.value)">
        <option value="District">District</option>
        <option *ngFor="let district of districtsList" value="{{district}}">{{district}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" name="block"  [(ngModel)]="selectedBlock" (change)="onChangeBlock($event.target.value)">
        <option value="Block" >Block</option>
        <option *ngFor="let block of blocksList" value="{{block}}">{{block}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" name="sortBy"  [(ngModel)]="selectedSort" (change)="onChangeSort($event.target.value)">
        <!-- <option value="">SortBy</option> -->
        <option *ngFor="let sortBy of sortBys" value="{{sortBy}}">{{sortBy}}</option>
      </select>
    </div>
  
    </mat-toolbar-row>
    </mat-toolbar>
<!-- Volunteers List  -->

<mat-table [dataSource]="dataSource | paginate:{ itemsPerPage: itemsPerPage, currentPage: p1, id: 'first', totalItems: active_total }" matSort class="mat-elevation-z8"
 matSortActive="rating,count_SrCitizen" matSortDisableClear matSortDirection="desc">
  <!-- Name column -->
  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="volunteerDetails(element)" [ngClass]="{'selected': selectedId == element.idvolunteer}"> 
      <img [src]="base_url+'assets/userVolunteer.png'" alt='Person' width='15' height='15'> {{element.firstName}} </mat-cell>
  </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="rating">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Rating </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="volunteerDetails(element)"> {{element.rating}} </mat-cell>
  </ng-container>

  <!-- ContactNumber Column -->
  <ng-container matColumnDef="phoneNo">
    <mat-header-cell *matHeaderCellDef>Contact number </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="volunteerDetails(element)"> {{element.phoneNo}} </mat-cell>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="volunteerDetails(element)"> {{element.state}} </mat-cell>
  </ng-container>

   <!-- District Column -->
   <ng-container matColumnDef="district">
    <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="volunteerDetails(element)"> {{element.district}} </mat-cell>
  </ng-container>

   <!-- Block Column -->
   <ng-container matColumnDef="block">
    <mat-header-cell *matHeaderCellDef> Block </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="volunteerDetails(element)"> {{element.block}} </mat-cell>
  </ng-container>


   <!-- AssignedSrCitizen Column -->
  <ng-container matColumnDef="count_SrCitizen">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Assigned Sr.citizens </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="volunteerDetails(element)"> {{element.count_SrCitizen}} </mat-cell>
  </ng-container>
 <!-- Actions Column -->
 <ng-container matColumnDef="actions" >
  <mat-header-cell *matHeaderCellDef > Actions </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{actions}}
    <button mat-button style='min-width: 15px;padding-right: 6px;padding-left: 6px;'><img [src]="base_url+'assets/addUser1.png'" alt='Person' width='15' height='15'></button>
    <button mat-button style='min-width: 15px;padding-right: 6px;padding-left: 6px;' (click)="transferVolunteer()"><img [src]="base_url+'assets/transferVolunteer1.png'" alt='Person' width='15' height='15' ><a href="../volunteers-list"></a></button>
    <button mat-button style='min-width: 15px;padding-right: 6px;padding-left: 6px;'><img [src]="base_url+'assets/deboardUser1.png'" alt='Person' width='15' height='15'></button>
      
  </mat-cell>
</ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <!-- <mat-row *matRowDef="let row of dataSource;let i=index|slice :(page-1)*pageSize:(page-1)*pageSize*pageSize ; columns: displayedColumns;"></mat-row> -->
  
     
  <!-- <mat-row *matRowDef="let row of dataSource |paginate: {
    id:'listing_pagination',
    itemsPerPage: 7,
    currentPage: page, 
    totalItems: totalRecords
  }; columns: displayedColumns;"></mat-row> -->
 
  </mat-table> 
  <div align="right">
    <pagination-controls previousLabel="" nextLabel="" (pageChange)="p1 = $event;getPaginationData($event)" id="first" class="my-pagination"></pagination-controls>
  </div>
  <!-- <ngx-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="data.length"></ngx-pagination> -->
  <!-- <div>
    <pagination-controls id="listing_pagination" maxSize="5" directionlinks="true" (pageChange)="page =$event"></pagination-controls>
  </div> -->
<!-- <button (click)="getData()">getUsers</button> -->
<!-- <ul class="pagination">
  <li class="page-item">
<button mat-button><a class="previous" href="#" aria-label="Previous">&laquo;</a></button>
{{totalRecords}} -->
<!-- </li> -->
<!-- <li *ngFor="let i of getArrayFromNumber(dataSource.length);let in=index" class="page-item">
  <a class="page-link" (click)="updateIndex(in)">{{in+1}}</a>
</li> -->
<li class="page-item">
  <button mat-button><a class="previous" href="#" aria-label="Previous">&laquo;</a></button>
</li>
  <button mat-button ><a class="page-link" href="../volunteers-list/volunteers-list.component.ts" >1</a></button>
  <button mat-button ><a class="page-link" href="#" >2</a></button>
  <button mat-button ><a class="page-link" href="#" >3</a></button>
  <button mat-button><a class="next" href="#">&raquo;</a></button> 
<!-- </ul>   -->
 
<mat-paginator [length]="100"
              [pageSize]="7" >
</mat-paginator>
<!-- {{resultsLength}} -->
</mat-tab>


<mat-tab label="Deboarded Volunteers">
    
<!-- Volunteers List  -->
<mat-toolbar>
  <mat-toolbar-row>
  <div class="deboardedheader"><span>Deboarded Volunteers List</span></div>
  </mat-toolbar-row>
  </mat-toolbar>

<mat-table [dataSource]="deboardedDataSource" class="mat-elevation-z8">
  <!-- Name column -->
  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img [src]="base_url+'assets/userVolunteer.png'" alt='Person' width='15' height='15'> {{element.firstName}} </mat-cell>
  </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="rating">
    <mat-header-cell *matHeaderCellDef> Rating </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.rating}} </mat-cell>
  </ng-container>

  <!-- ContactNumber Column -->
  <ng-container matColumnDef="phoneNo">
    <mat-header-cell *matHeaderCellDef>Contact number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.phoneNo}} </mat-cell>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
  </ng-container>

   <!-- District Column -->
   <ng-container matColumnDef="district">
    <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.district}} </mat-cell>
  </ng-container>

   <!-- Block Column -->
   <ng-container matColumnDef="block">
    <mat-header-cell *matHeaderCellDef> Block </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.block}} </mat-cell>
  </ng-container>


   <!-- AssignedSrCitizen Column -->
   <ng-container matColumnDef="count_SrCitizen">
    <mat-header-cell *matHeaderCellDef> Assigned Sr.citizens </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.count_SrCitizen}} </mat-cell>
  </ng-container>
  <!-- <ng-container matColumnDef="count_SrCitizen">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Assigned Sr.citizens </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.count_SrCitizen}} </mat-cell>
  </ng-container> -->
 <!-- Actions Column -->
 <ng-container matColumnDef="actions" >
  <mat-header-cell *matHeaderCellDef > Actions </mat-header-cell>
  <!-- <mat-cell *matCellDef="let element"> {{actions}}
    <button mat-button style='min-width: 15px;padding-right: 6px;padding-left: 6px;'><img [src]="base_url+'assets/addUser1.png'" alt='Person' width='15' height='15'></button>
    <button mat-button style='min-width: 15px;padding-right: 6px;padding-left: 6px;'><img [src]="base_url+'assets/transferVolunteer1.png'" alt='Person' width='15' height='15'></button>
    <button mat-button style='min-width: 15px;padding-right: 6px;padding-left: 6px;'><img [src]="base_url+'assets/deboardUser1.png'" alt='Person' width='15' height='15'></button>
      
  </mat-cell> -->
</ng-container>
  <mat-header-row *matHeaderRowDef="deboardedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: deboardedColumns;"></mat-row>

 
  </mat-table> 

</mat-tab>
</mat-tab-group>

<mat-toolbar>
<mat-toolbar-row>
<!-- <p style="font-size: 11px;color:gray;">Showing <b>11</b> out of <b>13037</b></p> -->
<span class="example-spacer"></span>









<!-- <div class="list">
  <ul>
    <li *ngFor="let item of collection |paginate : config"></li>
  </ul>
  <pagination-controls (pageChange)="pageChange1($event)" class="my-pagination"></pagination-controls>
</div>
<span class="example-spacer"></span>


<mat-paginator></mat-paginator> -->
  <!-- <button (click)=getStates()>states</button> -->
</mat-toolbar-row>
</mat-toolbar>