<!-- <p>volunteers-list works!</p> -->


		








<mat-tab-group mat-align-tabs="Active Volunteers">
  <mat-tab label="Active Volunteers">
  
    <mat-toolbar>
      <mat-toolbar-row style='padding-bottom: 14px;margin-top: 14px;'>
      <span>Volunteers List</span>&nbsp;
      <button mat-button style="background-color: orangered;color:white;padding-bottom: 15px;width: 52px; height:30px;">+ Add</button>
      <span class="example-spacer"></span>
      <div class="img-icon">
        <img src="../../../assets/Group 1184.png">
      </div>

      <!-- <form [formGroup]="createFilterGroup">
        <div class="form-group">
          <select formControlName="states" class="form-control">
            <option value="">State</option>
            <option *ngFor="let state of states" [value]="state" >{{state}}</option>
          </select>
        </div>
        <div class="form-group">
          <select formControlName="districts" class="form-control">
            <option value="">District</option>
            <option *ngFor="let district of districts" [value]="district">{{district}}</option>
          </select>
        </div>
        <div class="form-group">
          <select formControlName="blocks" class="form-control">
            <option value="">Block</option>
            <option *ngFor="let block of blocks" [value]="block">{{block}}</option>
          </select>
        </div>
        <div class="form-group">
          <select formControlName="sortBys" class="form-control">
            <option value="">Block</option>
            <option *ngFor="let sortBy of sortBys" [value]="sortBy">{{sortBy}}</option>
          </select>
        </div>
      </form> -->





      <div class="state-form"  >
        
        <div class="filters">
          <select class="options" style="color:gray;">
            <option value="State" class="option1">State</option>
            <option value="None" class="option2">None</option>
            <option *ngFor="let state of states" [value]="states">{{state}}</option>>
          </select>
         
          <select class="options" style="color:gray;">
            <option value="District" class="option1">District</option>
            <option value="None" class="option2">None</option>
            <option *ngFor="let district of districts" [value]="districts">{{district}}</option>
          </select>
          <select class="options" style="color:gray;">
            <option value="Block" class="option1">Block</option>
            <option value="None" class="option2">None</option>
            <option *ngFor="let district of districts" [value]="districts">{{district}}</option>
          </select>
          <select class="options" style="color:gray;">
            <option value="SortBy" class="option1">SortBy</option>
            <option value="None" class="option2">None</option>
            <option *ngFor="let sortBy of sortBys" [value]="sortBys">{{sortBy}}</option>
          </select>
        </div>
      </div> 
      <!-- <button mat-button style="background-color: orangered;color:white;padding-bottom: 15px;width: 52px; height:30px;">+ Add</button>
      
      
        <span class="example-spacer"></span>
          <img src='../../../assets/Group 1184.png'>&nbsp; -->
    
          <!-- state router -->
          <!-- <mat-form-field appearance="fill" >
            <mat-label >State</mat-label>
              <mat-select placeholder="state"   (selectionChange)="navigateTo($event.value)"   >
                <mat-option>None</mat-option>
                <mat-option *ngFor="let entry of entries" [value]="entry.link">{{entry.name}}</mat-option>
            </mat-select>
          </mat-form-field>&nbsp; -->
          <!-- <div class="state-form" >
          <div class="filters">
            
            <select class="options">
              
                <option value="500" class="option1">500</option>
                <option value="1000" class="option2">1000</option>
              
            </select>
          </div>
          </div> -->
      
        
          <!-- <mat-form-field>
            <mat-label>State</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let state of states" [value]="states">{{state}}</mat-option>
              </mat-select>
          </mat-form-field>&nbsp; -->
    
         
    
        
    
    
          <!--District dropdown-->
         
          <!-- <mat-form-field appearance="fill" >
            <mat-label>District</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let district of districts" [value]="districts">{{district}}</mat-option>
              </mat-select>
          </mat-form-field>&nbsp;
          -->
          
          <!--Blocks dropdown-->
    
          <!-- <mat-form-field appearance="fill">
            <mat-label>Block</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let block of blocks" [value]="blocks">{{block}}</mat-option>
              </mat-select>
          </mat-form-field>&nbsp;
           -->
    <!--Sort By dropdown-->
    
          <!-- <mat-form-field appearance="fill">
            <mat-label>Sort By</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let sortBy of sortBys" [value]="sortBys">{{sortBy}}</mat-option>
              </mat-select>
          </mat-form-field> -->
      
     
    
    </mat-toolbar-row>
    </mat-toolbar>
<!-- Volunteers List  -->


<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Name column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img [src]="base_url+'assets/userVolunteer.png'" alt='Person' width='15' height='15'> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="rating">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Rating </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.rating}} </mat-cell>
  </ng-container>

  <!-- ContactNumber Column -->
  <ng-container matColumnDef="contactNumber">
    <mat-header-cell *matHeaderCellDef>Contact number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.contactNumber}} </mat-cell>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
  </ng-container>

   <!-- District Column -->
   <ng-container matColumnDef="district">
    <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.district}} </mat-cell>
  </ng-container>



   <!-- Block Column -->
   <ng-container matColumnDef="block">
    <mat-header-cell *matHeaderCellDef> Block </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.block}} </mat-cell>
  </ng-container>


   <!-- AssignedSrCitizen Column -->
   <ng-container matColumnDef="assignedSrCitizen">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Assigned Sr.citizens </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.assignedSrCitizen}} </mat-cell>
  </ng-container>

 <!-- Actions Column -->
 <ng-container matColumnDef="actions" >
  <mat-header-cell *matHeaderCellDef > Actions </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.actions}}
    <button mat-button style='min-width: 15px;padding-right: 6px;padding-left: 6px;'><img [src]="base_url+'assets/addUser1.png'" alt='Person' width='15' height='15'></button>
    <button mat-button style='min-width: 15px;padding-right: 6px;padding-left: 6px;'><img [src]="base_url+'assets/transferVolunteer1.png'" alt='Person' width='15' height='15'></button>
    <button mat-button style='min-width: 15px;padding-right: 6px;padding-left: 6px;'><img [src]="base_url+'assets/deboardUser1.png'" alt='Person' width='15' height='15'></button>
      
  </mat-cell>
</ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

</mat-tab>
<mat-tab label="Deboarded Volunteers">Content 2</mat-tab>
</mat-tab-group>


<!-- 
<nav aria-label="Page navigation"> 
<ul class="pagination justify-content-end">

  <li class="page-item-disabled">
    <a class="page-link" href="#" tabindex="-1">Previous</a>

  </li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item">
    <a class="page-link" href="#">Next</a>
  </li>
</ul>


</nav>  -->


<mat-toolbar>
<mat-toolbar-row>
<p style="font-size: 11px;color:gray;">Showing <b>11</b> out of <b>13037</b></p>
<span class="example-spacer"></span>
<button mat-button><a class="previous" href="#" tabindex="-1">&laquo;</a></button>

  <button mat-button ><a class="page-link" href="../volunteers-list/volunteers-list.component.ts" >1</a></button>
  <button mat-button ><a class="page-link" href="#" >2</a></button>
  <button mat-button ><a class="page-link" href="#" >3</a></button>
  <button mat-button><a class="next" href="#">&raquo;</a></button>
<!-- <mat-tab-group mat-align-tabs="Page Numbers">
<mat-tab label1="Active Page"><a class="page-link" href="#" tabindex="-1">&laquo;</a></mat-tab>
<mat-tab label1="Other Page">1</mat-tab>
<mat-tab label1="Other Page">2</mat-tab>
<mat-tab label1="Other Page">3</mat-tab>
<mat-tab label1="Other Page">4</mat-tab>
<mat-tab label1="Other Page">5</mat-tab>
<mat-tab label1="Other Page"><a class="page-link" href="#">&raquo;</a></mat-tab>

</mat-tab-group> -->
</mat-toolbar-row>
</mat-toolbar>


<!-- <nav aria-label="Page navigation" style="justify-content: end;"> 

  <button mat-button><a class="page-link" href="#" tabindex="-1">&laquo;</a></button>
  <button mat-button class="page-item"><a class="page-link" href="#" >1</a></button>
  <button mat-button class="page-item"><a class="page-link" href="#" >2</a></button>
  <button mat-button class="page-item"><a class="page-link" href="#" >3</a></button>
  <button mat-button><a class="page-link" href="#">&raquo;</a></button>
</nav> -->




<!-- <app-footer></app-footer> -->