<!-- <p>volunteers-list works!</p> -->
<div class="loading-spinner" *ngIf="loadingSpinner">
  <mat-spinner [diameter]=50></mat-spinner>
</div>
<mat-tab-group mat-align-tabs="Active Volunteers">
  <mat-tab label="Active Volunteers">
  
    <mat-toolbar >
      <mat-toolbar-row >
    <div class="onBoardedVolunteerHeader">
      <span>Volunteers List</span>&nbsp;</div>
        <button mat-button class="addButton" matTooltip="Bulk Import Volunteer" (click)="addVolunteers()">+ Add</button>
      
    
      <span class="example-spacer"></span>
      <div class="img-icon">
        <img [src]="base_url+'assets/Group 1184.png'">
      </div>

      <!-- <mat-form-field >
        <mat-label>State</mat-label>
        <mat-select>
          <mat-option *ngFor="let state of statesList" value="{{state}}">{{state}}</mat-option>
        </mat-select>
      </mat-form-field> -->



      <div class="form-group" >
        <!-- <label>State</label> -->
         
        <select class="form-control"  name="state"  [(ngModel)]="selectedState" (change)="onChangeState($event.target.value)">
          <option value=""   selected="selected">State</option>
          <option *ngFor="let state of statesList" value="{{state}}">{{state}}</option>
        </select>
      </div> 
      <div class="form-group">
      <select class="form-control" name="district"  [(ngModel)]="selectedDistrict" (change)="onChangeDistrict($event.target.value)">
        <option value="">District</option>
        <option *ngFor="let district of districtsList" value="{{district}}">{{district}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" name="block"  [(ngModel)]="selectedBlock" (change)="onChangeBlock($event.target.value)">
        <option value="" >Block</option>
        <option *ngFor="let block of blocksList" value="{{block}}">{{block}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" name="sortBy"  [(ngModel)]="selectedSort" (change)="onChangeSort($event.target.value)">
        <!-- <option value="">SortBy</option> -->
        <option *ngFor="let sortBy of sortBys" value="{{sortBy}}">{{sortBy}}</option>
      </select>
    </div>
  
    </mat-toolbar-row>
    </mat-toolbar>
<!-- Volunteers List  -->

<mat-table *ngIf="noData.message==''" [dataSource]="dataSource | paginate:{ itemsPerPage: itemsPerPage, currentPage: p1, id: 'activeVolunteers', totalItems: active_total }" matSort class="mat-elevation-z8"
 matSortActive="rating,count_SrCitizen" matSortDisableClear matSortDirection="desc">
  <!-- Name column -->
  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="volunteerDetails(element)"> 
      <img class="person-image" [src]="base_url+'assets/senior-citizen.png'" alt='Person' width='28' height='28'> {{element.firstName}} </mat-cell>
  </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="rating">
    <mat-header-cell *matHeaderCellDef (click)="sortColumn('rating')"> 
      Rating
      <span class="sort-arrows-contaner mouseover-pointer">
        <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="(sortObj.key=='rating'&&sortObj.type=='ASC') || sortObj.key!='rating'" [ngClass]="{'sort-asc-active':sortObj.key=='rating'&&sortObj.type=='ASC', 'sort-asc':sortObj.key!='rating'}">arrow_drop_up</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="(sortObj.key=='rating'&&sortObj.type=='DESC') || sortObj.key!='rating'" [ngClass]="{'sort-desc-active':sortObj.key=='rating'&&sortObj.type=='DESC', 'sort-desc':sortObj.key!='rating'}">arrow_drop_down</mat-icon>
    </span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="volunteerDetails(element)"> 
      <span class="material-icons rating-icon-list" *ngIf="element.rating == 0">
          star_outline
      </span>
      <span class="material-icons rating-icon-list" *ngIf="element.rating && element.rating < 3.8" [ngClass]="volunteerRatingClass(element)">
          star_half
      </span>
      <span class="material-icons rating-icon-list" *ngIf="element.rating && element.rating >=3.8" [ngClass]="volunteerRatingClass(element)">
          star
      </span>
      {{element.rating}} 
    </mat-cell>
  </ng-container>

  <!-- ContactNumber Column -->
  <ng-container matColumnDef="phoneNo">
    <mat-header-cell *matHeaderCellDef>Contact number </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="volunteerDetails(element)"> {{element.phoneNo}} </mat-cell>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="volunteerDetails(element)"> {{element.state}} </mat-cell>
  </ng-container>

   <!-- District Column -->
   <ng-container matColumnDef="district">
    <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="volunteerDetails(element)"> {{element.district}} </mat-cell>
  </ng-container>

   <!-- Block Column -->
   <ng-container matColumnDef="block">
    <mat-header-cell *matHeaderCellDef> Block </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="volunteerDetails(element)"> {{element.block}} </mat-cell>
  </ng-container>


   <!-- AssignedSrCitizen Column -->
  <ng-container matColumnDef="count_SrCitizen">
    <mat-header-cell *matHeaderCellDef (click)="sortColumn('assignedSrCitizen')"> 
      Assigned Sr.citizens
      <span class="sort-arrows-contaner mouseover-pointer">
        <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="(sortObj.key=='assignedSrCitizen'&&sortObj.type=='ASC') || sortObj.key!='assignedSrCitizen'" [ngClass]="{'sort-asc-active': sortObj.key=='assignedSrCitizen'&&sortObj.type=='ASC', 'sort-asc': sortObj.key!='assignedSrCitizen'}">arrow_drop_up</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="(sortObj.key=='assignedSrCitizen'&&sortObj.type=='DESC') || sortObj.key!='assignedSrCitizen'" [ngClass]="{'sort-desc-active':sortObj.key=='assignedSrCitizen'&&sortObj.type=='DESC', 'sort-desc':sortObj.key!='assignedSrCitizen' }">arrow_drop_down</mat-icon>
    </span> 
    </mat-header-cell>
    <mat-cell class="header-align-center" *matCellDef="let element" (click)="volunteerDetails(element)"> {{element.count_SrCitizen}} </mat-cell>
  </ng-container>
 <!-- Actions Column -->
 <ng-container matColumnDef="actions" >
  <mat-header-cell *matHeaderCellDef class="header-align-center"> Actions </mat-header-cell>
  <mat-cell *matCellDef="let element" class="header-align-center"> {{actions}}
    <button mat-button matTooltip="Assign Sr.Citizens" style='min-width: 15px;padding-right: 6px;padding-left: 6px;'><img [src]="base_url+'assets/addUser1.png'" alt='Person' width='15' height='15' class="mouseover-pointer" (click)="opensrCitizenAssign(element)"></button>
    <button mat-button matTooltip="Transfer Volunteer" style='min-width: 15px;padding-right: 6px;padding-left: 6px;' (click)="transferVolunteer(element)"><img [src]="base_url+'assets/transferVolunteer1.png'" alt='Person' width='15' height='15' ></button>
    <button mat-button matTooltip="Deboard Volunteer" style='min-width: 15px;padding-right: 6px;padding-left: 6px;'><img [src]="base_url+'assets/deboardUser1.png'" alt='Person' width='15' height='15' (click)="opeDdeboardVolunteer(element)"></button>
      
  </mat-cell>
</ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="mouseover-pointer" (mouseover)="selectedId=''" [ngClass]="{'row-active': selectedId == row.idvolunteer}"></mat-row>
  </mat-table>
   <div class="pagination-container"  *ngIf="noData.message=='' && dataSource?.length > 0">
    <div class="show-count">
      <span class="gray-text">Showing </span>{{((p1-1) * itemsPerPage)+1}} - {{((p1-1) * itemsPerPage) + dataSource?.length}}<span class="gray-text"> out of </span>{{active_total}}
    </div>
    <div>
      <pagination-controls previousLabel="" nextLabel="" (pageChange)="p1 = $event;getPaginationData($event)" id="activeVolunteers" class="my-pagination"></pagination-controls>
    </div>
  </div>
  <div align="center" *ngIf="noData.message!=''" class="no-data-container">
    <span class="no-data">{{noData.message}}</span>
  </div>
</mat-tab>


<mat-tab label="Deboarded Volunteers">
    
<!-- Volunteers List  -->
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="deboardedheader"><span>Deboarded Volunteers List</span></div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-table *ngIf="noDeboardData.message==''" [dataSource]="deboardedDataSource | paginate:{ itemsPerPage: itemsPerPage, currentPage: p2, id: 'deboardedVolunteers', totalItems: deboarded_total }" class="mat-elevation-z8">
    <!-- Name column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img class="person-image" [src]="base_url+'assets/senior-citizen.png'" alt='Person' width='28' height='28'> {{element.firstName}} </mat-cell>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef>Rating</mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <span class="material-icons rating-icon-list" *ngIf="element.rating == 0">
            star_outline
        </span>
        <span class="material-icons rating-icon-list" *ngIf="element.rating && element.rating < 3.8" [ngClass]="volunteerRatingClass(element)">
            star_half
        </span>
        <span class="material-icons rating-icon-list" *ngIf="element.rating && element.rating >=3.8" [ngClass]="volunteerRatingClass(element)">
            star
        </span>
        {{element.rating}} 
      </mat-cell>
    </ng-container>

    <!-- ContactNumber Column -->
    <ng-container matColumnDef="phoneNo">
      <mat-header-cell *matHeaderCellDef>Contact number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phoneNo}} </mat-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
    </ng-container>

    <!-- District Column -->
    <ng-container matColumnDef="district">
      <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.district}} </mat-cell>
    </ng-container>

    <!-- Block Column -->
    <ng-container matColumnDef="block">
      <mat-header-cell *matHeaderCellDef> Block </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.block}} </mat-cell>
    </ng-container>


    <!-- AssignedSrCitizen Column -->
    <ng-container matColumnDef="count_SrCitizen">
      <mat-header-cell *matHeaderCellDef> Assigned Sr.citizens </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.count_SrCitizen}} </mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="count_SrCitizen">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Assigned Sr.citizens </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.count_SrCitizen}} </mat-cell>
    </ng-container> -->
  <!-- Actions Column -->
  <ng-container matColumnDef="actions" >
    <mat-header-cell *matHeaderCellDef > Actions </mat-header-cell>
    <!-- <mat-cell *matCellDef="let element"> {{actions}}
      <button mat-button style='min-width: 15px;padding-right: 6px;padding-left: 6px;'><img [src]="base_url+'assets/addUser1.png'" alt='Person' width='15' height='15'></button>
      <button mat-button style='min-width: 15px;padding-right: 6px;padding-left: 6px;'><img [src]="base_url+'assets/transferVolunteer1.png'" alt='Person' width='15' height='15'></button>
      <button mat-button style='min-width: 15px;padding-right: 6px;padding-left: 6px;'><img [src]="base_url+'assets/deboardUser1.png'" alt='Person' width='15' height='15'></button>
        
    </mat-cell> -->
  </ng-container>
    <mat-header-row *matHeaderRowDef="deboardedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: deboardedColumns;"></mat-row>

  
  </mat-table> 
  <div class="pagination-container"  *ngIf="noDeboardData.message=='' && deboardedDataSource?.length > 0">
    <div class="show-count">
      <span class="gray-text">Showing </span>{{((p2-1) * itemsPerPage)+1}} - {{((p2-1) * itemsPerPage) +  deboardedDataSource?.length}}<span class="gray-text"> out of </span>{{deboarded_total}}
    </div>
    <div>
      <pagination-controls previousLabel="" nextLabel="" (pageChange)="p2 = $event;getDeboardedPaginationData($event)" id="deboardedVolunteers" class="my-pagination"></pagination-controls>
    </div>
  </div>
  <div align="center" *ngIf="noDeboardData.message!=''" class="no-data-container">
    <span class="no-data">{{noData.message}}</span>
  </div>
</mat-tab>
</mat-tab-group>

<mat-toolbar>
<mat-toolbar-row>
<!-- <p style="font-size: 11px;color:gray;">Showing <b>11</b> out of <b>13037</b></p> -->
<span class="example-spacer"></span>









<!-- <div class="list">
  <ul>
    <li *ngFor="let item of collection |paginate : config"></li>
  </ul>
  <pagination-controls (pageChange)="pageChange1($event)" class="my-pagination"></pagination-controls>
</div>
<span class="example-spacer"></span>


<mat-paginator></mat-paginator> -->
  <!-- <button (click)=getStates()>states</button> -->
</mat-toolbar-row>
</mat-toolbar>