table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  ::ng-deep.mat-tab-label.mat-tab-label-active {
    //background-color: #FCE500;
    font-weight: 700;
    color: #FF3D00;
    padding:0px !important;
    }