.body-container{
    display:flex;
    flex-direction: column;
}
.header-block{
    border-bottom: 2px solid gray;
}
.main-block{
    display:flex;
    flex-wrap: wrap;
    height:560px;
    align-items: stretch;
}
.navigation-block{
    background-color: white;//indianred;
    flex:2;
    //border-radius:1%;
    border: 1px solid gray;

}
.body-block{
    background-color: white;
    flex:10
}