<div>
    <h3 mat-dialog-title>
        {{data.heading}}
    </h3>
</div>
<div>
    <app-assign-senior-citizens></app-assign-senior-citizens>
</div>
<!-- <mat-dialog-content >
    <app-assign-senior-citizens></app-assign-senior-citizens>
</mat-dialog-content> -->
<!-- <mat-dialog-actions align="center">
    <button mat-flat-button mat-dialog-close class="medium-size-text">Cancel</button>
    <button mat-flat-button color="primary" class="medium-size-text">Assign</button>
</mat-dialog-actions> -->