<div mat-dialog-title [ngClass]="{'heading-subs-right-container':data.headingRightContent}">
    <h3  >
        {{data.heading}}
        <div class="subscript-text gray-text"><sub *ngIf="data.headingSubscript"><i>{{data.headingSubscript}}</i></sub></div>
    </h3>
    <div class="heading-right-content">
        {{data.headingRightContent}}
    </div>
</div>
<div>
    <ng-template [ngIf]="data.feature=='assignCitizensSingleVolunteer'">
        <app-assign-senior-citizens [volunteerObj]="data.volunteerObj"></app-assign-senior-citizens>
    </ng-template>
    <ng-template [ngIf]="data.feature=='addVolunteer'">
        <app-add-volunteers></app-add-volunteers>
    </ng-template>
    <ng-template [ngIf]="data.feature=='deboardingVolunteer'">
        <app-de-board-volunteer [volunteerObj]="data.volunteerObj"></app-de-board-volunteer>
    </ng-template>
    <ng-template [ngIf]="data.feature=='assignSrCitizensEqually'">
        <app-assign-volunteers [volunteerObj]="data.volunteerObj"></app-assign-volunteers>
    </ng-template>
</div>


<!--transfer volunteer-->
<div>
    <ng-template [ngIf]="data.feature=='transferVolunteer'">
        <!-- <p>am</p> -->
        <!-- <app-volunteer-detail-view></app-volunteer-detail-view> -->
        abc
        <!-- <app-volunteers [volunteerObj]="data.volunteerObj"></app-volunteers> -->
        <app-transfer-volunteer [volunteerObj]="data.volunteerObj"></app-transfer-volunteer>
        <mat-dialog-actions align="center" class="assign-actions">
            <button mat-flat-button mat-dialog-close class="medium-size-text">Cancel</button>
            <button mat-flat-button color="primary"  class="upload-btn medium-size-text" [disabled]="transferVolunteerDetails==false">Transfer</button>
        </mat-dialog-actions> 
    </ng-template>
</div>






<!-- <mat-dialog-content >
    <app-assign-senior-citizens></app-assign-senior-citizens>
</mat-dialog-content> -->
<!-- <mat-dialog-actions align="center">
    <button mat-flat-button mat-dialog-close class="medium-size-text">Cancel</button>
    <button mat-flat-button color="primary" class="medium-size-text">Assign</button>
</mat-dialog-actions> -->