<div>
    <h3 mat-dialog-title>
        {{data.heading}}
    </h3>
</div>
<div>
    <ng-template [ngIf]="data.feature=='assignCitizensSingleVolunteer'">
        <app-assign-senior-citizens [volunteerObj]="data.volunteerObj"></app-assign-senior-citizens>
    </ng-template>
    <ng-template [ngIf]="data.feature=='addVolunteer'">
        <app-add-volunteers></app-add-volunteers>
    </ng-template>
</div>
<!-- <mat-dialog-content >
    <app-assign-senior-citizens></app-assign-senior-citizens>
</mat-dialog-content> -->
<!-- <mat-dialog-actions align="center">
    <button mat-flat-button mat-dialog-close class="medium-size-text">Cancel</button>
    <button mat-flat-button color="primary" class="medium-size-text">Assign</button>
</mat-dialog-actions> -->