.links {
    margin: 0 0 12px 10px;
}
.volunteersLink {
    color: black;
    text-decoration: underline;
    font-size: 13px;
    cursor: pointer;
}
.listOfVolunteersLink {
    color: black;
    text-decoration: underline;
    font-size: 13px;
    cursor: pointer;
}
.volunteerInfoLink {
    text-decoration: none;
    color: orangered;
    font-size: 13px;
}
.volunteerInfo {
    height: 100%;
    background-color: rgb(248,248,248);
    padding-top: 15px;
}
.volunteerProfile {
    background-color: white;
    margin: 10px 25px 0 25px;
    border-radius: 5px;
    display: flex;
    box-shadow: 1px 1px 20px 0px rgb(230,230,230);
}
.left-block {
    width: 20%;
    border-right: 1px solid gainsboro;
    display: flex;
    padding: 10px;
}
.profilePic {
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.person-nameRating {
    //width: 100%;
    //margin-top: 22px;
    display: flex;
    align-self: center;
    flex-direction: column;
}
.personalInfo {
    padding: 15px 0 15px 15px;
    width: 100%;
}
.actions {
    float: right;
}
.person-img {
    width: 40px;
    height: 40px;
    display: flex;
    align-self: center;
}
.person-name {
    font-weight: 500;
    position: relative;
    top: 4px;
    left: 2px;
}
.person-rating {
    color: yellow;
    font-weight: 500;
}
.action-link {
    margin-right: 10px;
    text-decoration: none;
}
.personalDetails {
    margin-top: 8px;
}
.contactNumber-block {
    display: inline-block;
    margin-right: 20px;
    white-space: nowrap;
}
.emailId-block {
    display: inline-block;
    margin-right: 20px;
    white-space: nowrap;
}
.state-block {
    display: inline-block;
    margin-right: 20px;
    white-space: nowrap;
}
.district-block {
    display: inline-block;
    margin-right: 20px;
    white-space: nowrap;
}
.block-block {
    display: inline-block;
    margin-right: 20px;
    white-space: nowrap;
}
.personalDetails-span {
    color: darkgray;
}
.personalDetails-value {
    font-weight: 500;
}
.progressSummary-title {
    margin-bottom: 8px;
}
.progressSummary-title span {
    font-weight: 500;
}
.progressSummaryDetails {
    background-color: white;
    border-radius: 5px;
    //display: flex;
    box-shadow: 1px 1px 20px 0px rgb(230,230,230);
    padding: 10px;
}
.progressSummaryDetails-span {
    color: blue;
    font-size: 12px;
}
.progressSummaryDetails-value {
    margin-left: 5px;
    color: blue;
    font-size: 12px;
}
.options {
    border: none;
    background-color: inherit;
    margin-right: 5px;
}
.options:focus {
    outline: none;
}
.progressReviews {
    display: flex;
    margin: 12px 25px;
}
.reviews-title {
    margin-bottom: 8px;
}
.reviewsRatings {
    background-color: white;
    border-radius: 5px;
    display: flex;
    box-shadow: 1px 1px 20px 0px rgb(230,230,230);
}
.reviewsRatings span {
    padding: 10px;
}
.viewAll-link {
    text-decoration: none;
    color: orangered;
    float: right;
    margin-right: 10px;
}
.addReview-button {
    width: 15px;
    height: 15px;
    padding: 0;
    background-color: orangered;
    border: 0;
    border-radius: 3px;
    color: white;
}
.addReview-button:focus {
    outline: none;
}
.reviews-title span {
    margin-right: 8px;
    font-weight: 500;
}
.progressSummary {
    width: 50%;
    margin-right: 15px;
}
.reviews {
    width: 50%;
    margin-left: 15px;
    display:flex;
    flex-direction: column;
    position:relative
}
.dropdown-menu {
    float: right;
}
.srCitizenList-section {
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 20px 25px;
}
.srCitizenList-button {
    background-color: orangered;
    color: white;
    height: 24px;
    display: flex;
    align-items: center;
    padding: 5px 12px;
    border: 0;
    border-radius: 5px;
}
.srCitizenList-button:focus {
    outline: none;
}
.srCitizenList-span {
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-weight: 500;
}
.back-link img {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    cursor: pointer;
}
.back-link {
    margin-left: 25px;
    text-decoration: none;
    color: black;
    display: flex;
    cursor: pointer;
}
.srCitizenList-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 25px;
    justify-content: flex-start;
    height: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 0px rgb(230,230,230);
}
.srCitizenList-item{
    flex: 0 1 20%;
    margin: 10px;
    border: 5px solid transparent
}
.image-block
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: left;
    position: relative;
    top: -2px;
    left: -10px;
    z-index: 10;
    border: 2px solid #CCD1D1;
}
.srCitizenList-info{
    margin-left: 10px;
    background-color: #CCD1D1;
    border-radius: 3%;
    padding: 4px 0px 4px 25px;
    position: relative;
}
// .reviews-block {
//     border-right: 1px solid grey;
//     width: 25%;
// }
.material-icons.rating-icon-list {
    top: 3px;
}
.progressBar-container {
    margin: 5px 10px 10px 0;
}
.greyBar {
    height: 8px !important;
    background-color: #ddd !important;
    border-radius: 5px !important;
    width: 100%;
}
.blackBar {
    height: 8px !important;
    background-color: black !important;
    border-radius: 5px !important;
}
.redBar {
    height: 8px !important;
    background-color: orangered !important;
    border-radius: 5px !important;
}
.completed-img {
    height: 3px;
    width: 8px;
    display: inline-block;
    background-color: orangered;
    margin: 0 4px 0 20px;
    position: relative;
    top: -3px;
}
.needFollowUp-img {
    height: 3px;
    width: 8px;
    display: inline-block;
    background-color: black;
    margin: 0 4px 0 90px;
    position: relative;
    top: -3px;
}
.pending-img {
    height: 3px;
    width: 8px;
    display: inline-block;
    background-color: #ddd;
    margin: 0 4px 0 90px;
    position: relative;
    top: -3px;
}
.completed {
    font-size: 12px;
    color: orangered;
}
.needFollowUp {
    font-size: 12px;
    color: black;
}
.pending {
    font-size: 12px;
    color: #ddd;
}
.reviews-block{
    width: 515px;
    background-color: white;
    //display:flex;
    position: absolute;
    top: 25%;
    height:83px;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 0px #e6e6e6;
}
.review-item{
    display:flex;
    flex-direction: column;
    padding: 2px 10px 2px 25px;
}
::ng-deep .owl-nav, ::ng-deep .owl-dots{
    display:block !important;
}
::ng-deep .owl-prev{
    position: absolute !important;
    left: -4px !important;
    top: 0px !important;
    background: transparent !important;
    padding: 20px 5px 18px 5px !important;
    margin: 0px !important;
    color:#bbb5b5 !important;
}
::ng-deep .owl-next{
    position: absolute !important;
    right: -4px !important;
    top: 0px !important;
    background: transparent !important;
    padding: 20px 5px 18px 5px !important;
    margin: 0px !important;
    color:#bbb5b5 !important;
}
::ng-deep .owl-prev:hover, ::ng-deep .owl-next:hover{
    background: #e2dede !important;
    color:white !important;
    padding-right: 1px !important;
    padding-left: 1px !important;
}
::ng-deep .owl-dots{
    top:-25px !important;
    position:relative;
}
::ng-deep .owl-dots .owl-dot.active span,.owl-dots .owl-dot:hover span{
    background: #FF3D00 !important;
    opacity: 0.4 !important;
}
::ng-deep .owl-theme .owl-nav.disabled + .owl-dots{
    margin-top: 22px;
}