/* You can add global styles to this file, and also import other style files */
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Common Styles*/
.mouseover-pointer{
    cursor: pointer;
}
// .mat-dialog-container{
//     padding-bottom:50px !important
// }
.medium-size-text{
    font-size: 15px;
    font-weight: lighter;
}
// Snackbar Notifications
.notification-snackbar{
    background-color: #f3e1e1;
    color: #ff7043;
    z-index: 1;
    border-radius: 25px !important;
    //font-weight: bold;
    text-align: center;
    vertical-align: middle;
    height: auto !important;
    padding:10px 20px;
    max-width: 75vw !important;
}
// Loading Spinner
.loading-spinner
{
    display: flex;
    justify-content: center;
    align-items: center;  
    position:absolute;
    top: 50%;
    left:50%;
    z-index: 11111;
}
//Pagination
// ::ng-deep .ngx-pagination .current {
//     background: #ff7043 !important;
//   }
  .ngx-pagination {
    padding-left: 0px !important;
  }
  .ngx-pagination li {
      //border: 1px solid rgb(201, 198, 198);
      margin:0px !important;
      //box-shadow: 1px 1px 1px 1px #888888 !important;
      border-radius: 2px !important;
  }
  .ngx-pagination .current,
  .btn-info {
    background: #ff7043 !important;
    border-radius: transparent !important;
  }
  .ngx-pagination a, .ngx-pagination button{
      color:#ff7043 !important;
  }
  .ngx-pagination .current:hover {
    background: #ff7043 !important;
    //border-radius: 20px !important; 
    //border: 1px solid gray !important;
  }

  // Sort Arrows
  .sort-arrows-contaner{
    display:flex; 
    flex-direction:column;
    position:relative;
  }
  .sort-asc{
    position: absolute;
    bottom: 2px;
  }
  .sort-desc{
    position: relative;
    top: 5px;
  }
  .sort-asc-active{
    bottom: 0px;
  }
  .sort-desc-active{
    top: 0px;
  }
  // Mat Table
  .header-align-center {
    text-align: center;
    justify-content:center;
  }
  .pagination-container{
    display:flex;
    justify-content: space-between;
  }
  .show-count{
    padding:20px;
  }
  .gray-text{
    color:gray;
  }
  .assign-actions{
    border-top: 1px solid #efebeb
  }
  .no-data{
    font-size: 20px;
    color:#FF3D00
  }
  .no-reviews-container{
    position:relative;
    top:40%
  }
  // Assign Items CSS
  .assign-block{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:10px 30px 30px 30px;
    //margin-left: 100px
    justify-content: flex-start;
    min-height: 80px;
    max-height: 350px;
    overflow-y: scroll;
}
.assign-item{
    flex:0 1 20%;
    //border:2px solid white;
    margin: 10px;
    // background-color: #CCD1D1;
    // border-radius: 3%;
    border: 5px solid transparent
}
.assign-image-unselected-block
{
    width:50px;
    height:50px;
    border-radius: 50px;
    float:left;
    position: relative;
    top:-2px;
    left:-10px;
    z-index:10;
    border: 2px solid #CCD1D1;
}
.assign-image-selected-block{
    border: 3px solid #FFFFFF;
    //box-shadow: 5px 5px 5px gray;

}
.assign-info{
    margin-left:10px;
    background-color: #CCD1D1;
    border-radius: 3%;
    padding: 4px 0px 4px 25px;
    position:relative;
    font-size: 12px;
    left:-6px

}
.assign-info-checked{
    background-color: #FFFFFF !important;
    box-shadow: 5px 5px 5px gray !important;
}
.select-all{
    padding-left:40px;
}
.list-card-group{
    position:relative;
}
.list-card-checkbox{
    z-index:10;
    position: absolute;
    right: -7px;
    top: -10px;
    //display:none
    
}
.display-checkbox{
    display:block !important;
}
.display-none{
    display:none !important;
    
}
::ng-deep .list-card-checkbox {
    & .mat-checkbox-background, .mat-checkbox-frame {
      border-radius: 70% !important;
      width:20px;
      height:20px;
    }
    & .mat-checkbox-checked{
        top: 0px;
        right: 0px;  
    }
  }
  .mat-checkbox-checked ~ .list-card-checkbox{
      //display:block;
      top: 0px;
      right: 0px;
  }
  .assign-actions{
      border-top:1px solid #CCD1D1
  }
  //Reset button
  .material-icons.reset{
    margin-top: -11px;
    color: #FF3D00;
  }
  // Rating Icon
  .material-icons.rating-icon{
    position: relative;
    font-size:16px;
    top: 3px;
  }
  .material-icons.rating-icon-list{
    position: relative;
    font-size:16px;
  }
  .rating-icon-red{
    color:orangered
  }
  .rating-icon-yellow{
    color:yellow
  }