/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Common Styles*/
.mouseover-pointer{
    cursor: pointer;
}
// .mat-dialog-container{
//     padding-bottom:50px !important
// }
.medium-size-text{
    font-size: 15px;
    font-weight: lighter;
}
// Snackbar Notifications
.notification-snackbar{
    background-color: #f3e1e1;
    color: #ff7043;
    z-index: 1;
    border-radius: 25px !important;
    //font-weight: bold;
    text-align: center;
    vertical-align: middle;
    height: 30px !important;
    padding:10px 20px;
}
// Loading Spinner
.loading-spinner
{
    display: flex;
    justify-content: center;
    align-items: center;  
    position:absolute;
    top: 50%;
    left:50%;
}